/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

includeConfig '../../subworkflows/nf-neuro/harmonization/nextflow.config'

process {
    withName: ".*:HARMONIZATION:CLINICALCOMBAT" {
        ext.regul_ref = params.harmonization_regul_ref
        ext.regul_mov = params.harmonization_regul_mov
        ext.nu = params.harmonization_nu
        ext.tau = params.harmonization_tau
        ext.limit_age = params.harmonization_limit_age
        ext.ignore_sex = params.harmonization_ignore_sex
        ext.ignore_handedness = params.harmonization_ignore_handedness
        ext.method = params.harmonization_method
        publishDir = [
            [
                path: "${params.outdir}/harmonization_models/",
                mode: params.publish_dir_mode,
                pattern: "*.model.csv"
            ]
        ]
    }
    withName: ".*:HARMONIZATION:COMBAT2STATS" {
        publishDir = [
            [
                path: "${params.outdir}/metrics/",
                mode: params.publish_dir_mode,
                pattern: "*.{tsv,tsv.gz,json}",
                saveAs: { filename ->
                    def extension = "tsv"
                    if (filename.endsWith(".tsv.gz")) {
                        extension = "tsv.gz"
                    }
                    else if (filename.endsWith(".json")) {
                        extension = "json"
                    }
                    return "space-harmonized_atlas-iit_label-mean_desc-roi_stats.${extension}"
                }
            ]
        ]
    }
}
