/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    /* SUBWORKFLOWS CONFIGURATION */

    withName: 'PREPROC_DWI:' {

    }

    withName: 'PREPROC_T1:' {

    }

    withName: 'T1_REGISTRATION:' {

    }

    withName: 'ANATOMICAL_SEGMENTATION' {

    }

    /* MODULES CONFIGURATION */

    withName: 'REGISTRATION_FA' {

    }

    withName: 'TRANSFORM_WMPARC' {

    }

    withName: 'TRANSFORM_APARC_ASEG' {

    }

    withName: 'RECONST_FRF' {

    }

    withName: 'RECONST_MEANFRF' {

    }

    withName: 'RECONST_DTIMETRICS' {

    }

    withName: 'RECONST_FODF' {

    }

    withName: 'TRACKING_PFTTRACKING' {
        ext.pft_seeding_mask_type           = params.fodf_pft_fit_seeding_type
        ext.pft_fa_seeding_mask_threshold   = params.fodf_pft_fit_seeding_fa_mask_threshold
        ext.pft_seeding                     = params.fodf_pft_fit_seeding_strategy
        ext.pft_nbr_seeds                   = params.fodf_pft_fit_seeding_n_seeds
        ext.pft_algo                        = params.fodf_pft_fit_algorithm
        ext.pft_step                        = params.fodf_pft_fit_step_size
        ext.pft_theta                       = params.fodf_pft_fit_theta_max_deviation
        ext.pft_sfthres                     = params.fodf_pft_fit_sf_threshold
        ext.pft_sfthres_init                = params.fodf_pft_fit_sf_initial_threshold
        ext.pft_min_len                     = params.fodf_pft_fit_streamline_min_length
        ext.pft_max_len                     = params.fodf_pft_fit_streamline_max_length
        ext.pft_particles                   = params.fodf_pft_fit_filter_n_particles
        ext.pft_back                        = params.fodf_pft_fit_filter_backward_step_size
        ext.pft_front                       = params.fodf_pft_fit_filter_forward_step_size
        ext.pft_random_seed                 = params.fodf_pft_fit_random_seed
        ext.pft_compress_streamlines        = params.fodf_pft_fit_compress_tractogram
        ext.pft_compress_value              = params.fodf_pft_fit_compress_max_displacement
        ext.basis                           = params.dwi_fodf_fit_basis
    }

    withName: 'TRACKING_LOCALTRACKING' {
        ext.local_tracking_mask_type            = params.fodf_local_fit_tracking_mask_type
        ext.local_fa_tracking_mask_threshold    = params.fodf_local_fit_tracking_mask_fa_threshold
        ext.local_seeding_mask_type             = params.fodf_local_fit_seeding_type
        ext.local_fa_seeding_mask_threshold     = params.fodf_local_fit_seeding_fa_threshold
        ext.local_seeding                       = params.fodf_local_fit_seeding_strategy
        ext.local_nbr_seeds                     = params.fodf_local_fit_seeding_n_seeds
        ext.local_algo                          = params.fodf_local_fit_algorithm
        ext.local_step                          = params.fodf_local_fit_step_size
        ext.local_theta                         = params.fodf_local_fit_theta_max_deviation
        ext.local_sfthres                       = params.fodf_local_fit_sf_threshold
        ext.local_min_len                       = params.fodf_local_fit_streamline_min_length
        ext.local_max_len                       = params.fodf_local_fit_streamline_max_length
        ext.local_random_seed                   = params.fodf_local_fit_random_seed
        ext.local_compress_streamlines          = params.fodf_local_fit_compress_tractogram
        ext.local_compress_value                = params.fodf_local_fit_compress_max_displacement
        ext.basis                               = params.dwi_fodf_fit_basis
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
