/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run scilus/nf-tractoflow -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '2.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input  = "https://scil.usherbrooke.ca/scil_test_data/dvc-store/files/md5/0e/edfa604bc9046ae68c9c391a577313"

    sh_fitting_shells = "0 1000"
    pft_seeding = "nt"
    pft_nbr_seeds = 400
    local_seeding = "nt"
    local_nbr_seeds = 400
    pft_back = 0.5
    pft_front = 0.5
    run_pft = false
    run_local_tracking= false
}
